---
layout: markdown_page
title: "Product Vision"
extra_css:
  - product-vision.css
---

- TOC
{:toc}

This is the vision for the end of 2018.

GitLab reimagines the scope of DevOps tooling to include developers, operations,
and security teams in [one single application](/handbook/product/single-application).
This dramatically reduces friction, increases collaboration, and drives a
competitive advantage. Doing away with context switching and having all of the
necessary information in one place closes the loop and enables a better
understanding of each team's needs.

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/RmSTLGnEmpQ" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

- [Prototype Demo Slides](https://docs.google.com/presentation/d/19dZ1Y4us11B_96YoXvgQL4aBXPy2iNYRId0vmTulnnQ)
- [Interactive Framer Prototype](https://framer.cloud/UaofH/index.html) - click the header to move to the next page, click the left sidebar to move back

To make our vision a reality, we're working on a number of new features and
improving on existing ones. This page describes the Product Vision for 2018.
Internally, we're intending on implementing everything in here before the 2018
summit, scheduled for Aug 23, 2018. Of course that's incredibly
aggressive, so as a customer or prospect, please don't count on that date. Some
of these might only get to a minimal, or even just a demoable state by then.

Many of the issues describe development of an n-tier web app, but could equally
be applied to an iOS app, Ruby gem, static website, or other type of project.

Grouping is based on stages in the [DevOps
Toolchain](https://en.wikipedia.org/wiki/DevOps_toolchain) and our [product
categories](/handbook/product/categories/), including several new ones for 2018.
Also see our [blog post](/2017/10/11/from-dev-to-devops) on the complete
DevOps vision. Or see the [open issues for `Product Vision
2018`](https://gitlab.com/groups/gitlab-org/-/issues?label_name%5B%5D=Product+Vision+2018).

![DevOps Lifecycle](devops-loop-and-spans.png)

![New in 2018](product-categories.png)

## Manage

### Reporting & Analytics
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Cycle Analytics](https://docs.gitlab.com/ee/user/project/cycle_analytics.html)<br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Conversational Development Index](https://docs.gitlab.com/ee/user/admin_area/monitoring/convdev.html)<br>

## Plan

The Plan stage is about capturing ideas, organizing issues and epics,
scheduling work, and communicating plans.

| Jira        | Epics           |
| ------------- |:-------------:| -----:|
| ![Jira in Menu](plan-jira-in-menu.png) | ![Epic Roadmaps](plan-epic-roadmaps.png) |

### Chat integration

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Mattermost](https://docs.gitlab.com/omnibus/gitlab-mattermost/)<br/>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Slack](https://docs.gitlab.com/ee/user/project/integrations/slack.html)

### Project and portfolio management

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Issue tracker](https://docs.gitlab.com/ee/user/project/issues/)<br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Issue board](https://docs.gitlab.com/ee/user/project/issue_board.html)<br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Epics](https://docs.gitlab.com/ee/user/group/epics/)<br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Roadmap](https://docs.gitlab.com/ee/user/group/roadmap/)<br>

<%= product_vision["issues"] %>
<%= product_vision["boards"] %>
<%= product_vision["portfolio management"] %>

## Create

GitLab is used to create, collaborate, review and manage content; often source
code, by many businesses. We want to make it possible for everyone to be able
to contribute content and feedback using GitLab.

| Bulk review      | Web IDE           |
| ------------- |:-------------:| -----:|
| ![Preview Drafts](create-preview-drafts-list.png) | ![Web IDE](create-web-ide.png) |

### Source code management

<%= product_vision["repository"] %>

#### Merge requests

A key part of writing and deploying high quality code is a thorough code review
approval process. Merge requests provide this and are integrated with GitLab CI
for testing, security testing, monitoring and more.

<%= product_vision["merge requests"] %>
<%= product_vision["code review"] %>
<%= product_vision["approvals"] %>

### Web IDE

<%= product_vision["web ide"] %>

## Geo

<i class="vision-item fa fa-square-o" aria-hidden="true"></i> [Automatic background verification of replicas](https://gitlab.com/groups/gitlab-org/-/epics/58)<br>
<i class="vision-item fa fa-square-o" aria-hidden="true"></i> [Proxy Git operations from secondary to primary](https://gitlab.com/groups/gitlab-org/-/epics/124)<br>

## Verify

The Verify stage is all about making sure that your code does what you expected
it to do, meets quality standards, and is secure; all via automated testing. We
bring best practices from top development teams, and make them the easy, default
way to work. But of course you can build on those defaults and customize as
needed for your company.

### Continuous Integration (CI)

GitLab CI provides an explicit `build` stage and the concept of build artifacts,
but we might need to separate out the build artifacts from test artifacts. For
example, you might want your test runner to create a JUnit-style output file
which is available for external consumption, but not included in the build image
sent to production. Creation of an explicit build aligns well with Docker where
the result of the build stage is a Docker image which is stored in a registry
and later pulled for testing and deployment.

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Code Quality](https://docs.gitlab.com/ee/user/project/merge_requests/code_quality_diff.html) <kbd>Premium</kbd><br>
<%= product_vision["ci"] %>

## Package

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Container Registry](https://docs.gitlab.com/ee/user/project/container_registry.html)<br>
<%= product_vision['devops:package'] %>

## Release

### Continuous Delivery (CD) / Release Automation

A key part of CD is being able to deploy. We currently have the ability via
scripts in the `deploy` stage in `.gitlab-ci.yml`. We will go further.

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Environments](https://docs.gitlab.com/ee/ci/environments.html)<br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Deployment history](https://docs.gitlab.com/ee/ci/environments.html#viewing-the-deployment-history-of-an-environment)<br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Deploy boards](https://docs.gitlab.com/ee/user/project/deploy_boards.html) <kbd>Premium</kbd><br>
<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Canary deployments](https://docs.gitlab.com/ee/user/project/canary_deployments.html) <kbd>Premium</kbd><br>
<%= product_vision['devops:release'] %>

## Configure

### Application Control Panel

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Variables](https://docs.gitlab.com/ee/ci/variables/#variables)<br>
<%= product_vision['application control panel'] %>

### Infrastructure Configuration

<%= product_vision['infrastructure configuration'] %>

### Operations

<%= product_vision['operations'] %>

### Feature Management

There's a big benefit to decoupling deployment of code from delivery of a
feature, mostly using feature flags. Continuous integration helps improve the
speed of development, but feature flags take it to another level, giving you the
confidence to integrate code even more often while providing a gradual and
granular method for delivery.

<%= product_vision['feature management'] %>

## Monitor

Performance is a critical aspect of the user experience, and ensuring your
application is responsive and available is everyone's responsibility. We want to
help address this need for development teams, by integrating key performance
analytics and feedback into the tool developers already use every day.

Going further, we want you to be able to track changes in your production
infrastructure, availability, and uptime; error/exception tracking; and
aggregated logs.

As part of our commitment to performance we are also deeply instrumenting GitLab
itself, enabling our team to improve GitLab peformance and for customers to more
easily manage their deployments.

### Application Performance Monitoring (APM)

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [Prometheus monitoring](https://docs.gitlab.com/ee/ci/environments.html#monitoring-environments)<br>
<%= product_vision['application performance monitoring'] %>

### Infrastructure Monitoring

<%= product_vision['infrastructure monitoring'] %>

### Production Monitoring

<%= product_vision['production monitoring'] %>

### Error Tracking

<%= product_vision['error tracking'] %>

### Logging

<%= product_vision['logging'] %>

## Secure

### Security Testing

<%= product_vision["security testing"] %>

### License Management

<i class="vision-item far fa-check-square" aria-hidden="true"></i> [License Management](https://docs.gitlab.com/ee/user/project/merge_requests/license_management.html) <kbd>Ultimate</kbd><br>
<i class="vision-item far fa-square" aria-hidden="true"></i> [License Management improvements](https://gitlab.com/groups/gitlab-org/-/epics/273) <kbd>Ultimate</kbd><br>

## Performance

*Not a lifecycle stage, but part of our 2018 plan*

<i class="vision-item far fa-square" aria-hidden="true"></i> Push to Geo secondary (proxied to primary) <kbd>Premium</kbd><br>
<i class="vision-item far fa-square" aria-hidden="true"></i> Automatic DR <kbd>Premium</kbd><br>
<i class="vision-item far fa-square" aria-hidden="true"></i> [Improve speed index](/handbook/engineering/performance/#speed-index)<br>
<%= product_vision["performance"] %>

## Distribution

*Not a lifecycle stage, but part of our 2018 plan*

GitLab is the engine that powers many companies' software businesses so it is
important to ensure it is as easy as possible to deploy, maintain, and stay up
to date.

Today we have a mature and easy to use Omnibus-based build system, which is the
foundation for nearly all methods of deploying GitLab. It includes everything a
customer needs to run GitLab all in a single package, and is great for
installing on virtual machines or real hardware. We are committed to making our
package easier to work with, highly available, as well as offering automated
deployments on cloud providers like AWS.

We also want GitLab to be the best cloud native development tool, and offering a
great cloud native deployment is a key part of that. We are focused on offering
a flexible and scalable container-based deployment on Kubernetes, by using
enterprise grade Helm Charts.

### Omnibus

<%= product_vision["Omnibus"] %>

### Cloud Native Installation

<i class="vision-item far fa-square" aria-hidden="true"></i> [Cloud native GitLab Helm Chart (GA)](https://gitlab.com/groups/charts/-/epics/15)<br>
<%= product_vision["Cloud Native"] %>
