---
layout: markdown_page
title: "GitLab Culture"
---

## Other pages related to Culture

- [GitLab 101](/culture/gitlab-101/)
- [GitLab Summits](/culture/summits)
- [Internal Feedback](/culture/internal-feedback)
- [Inclusion and Development](/culture/inclusion)
- [Top Team Member](/culture/top-team-member)
- [All Remote](/culture/remote-only/)

## Introduction

Please see our [About Us page](/about/) for more general information about GitLab. And see how our team has grown at the [GitLab Summits page](/culture/summits)

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/Mkw1-Uc7V1k" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Advantages

<%= partial "includes/reasons_to_work_for_gitlab" %>


## Historical Anecdotes

#### _October 8th, 2011_

Dmitriy started GitLab when he pushed the [initial commit](https://gitlab.com/gitlab-org/gitlab-ce/commit/9ba1224867665844b117fa037e1465bb706b3685).

#### _August 24th, 2012_

Sid announced [GitLab on HN](https://news.ycombinator.com/item?id=4428278).

#### _September 14th, 2012_

[First 10 people get access](/2012/09/14/first-10-people-got-access/)
to GitLab Cloud (now known as GitLab.com).

#### _November 13th, 2012_

[GitLab CI is officially announced](/2012/11/13/continuous-integration-server-from-gitlab/).

#### _July 22nd, 2013_

[GitLab Enterprise Edition is announced](/2013/07/22/announcing-gitlab-enterprise-edition/).

#### _April 18th, 2014_

[GitLab Cloud renamed to GitLab.com](/2014/04/18/gitlab-cloud-becomes-gitlab-com/).

#### _March 4th, 2015_

[GitLab in Y Combinator winter 2015 batch](/2015/03/04/gitlab-is-part-of-the-y-combinator-family/).

#### _August 15th, 2015_

Series A Funding was signed.

#### _October 10th, 2015_

Anniversary of our first ever summit in Amsterdam with 25 GitLabbers.

## Team Stories

What better way to convey a sense of who we are and how we work together, than by sharing the stories about it?


### The Boat

<!-- HTML blocks below - applied to make the images and the video more harmonic than 1 single column with each on a different "row" -->

<br>

<div class="row">
  <div class="col-sm-8 col-xm-12"><img src="../images/blogimages/boat.jpg" alt="The Boat"></div>
  <div class="col-md-4 col-xm-12">
    <p class="justify"><a href="/2016/01/06/our-y-combinator-experience/">Back then</a>, the whole team used to fit in one car. And the car was called "the Boat".</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-8 col-xm-12">
    <figure class="video_container">
      <iframe src="https://www.youtube.com/embed/4TnKmrpiSgQ" frameborder="0" allowfullscreen="true"> </iframe>
    </figure>
  </div>
  <div class="col-sm-4 col-xm-12">
    <p class="justify">We even took the Boat from San Francisco to Las Vegas to celebrate Job's bachelor party, but as you can see in this video, he thought we were going to visit a customer in Los Angeles!</p>
  </div>
</div>

<br>

### The cattle

<br>

<div class="row">
  <div class="col-md-4 col-xm-12"><img class="cattle" src="../images/cattle_stare.JPG" alt="Staring down cattle"></div>
  <div class="col-md-8 col-xm-12">
    <h4 class="media-heading">Staring down the cattle?</h4>
    <p class="justify-1">Our CFO, Paul, was on vacation on a cattle ranch,
    during a time of fundraising. Normally vacation is vacation of course, but
    in this case it was necessary to have some calls now and again which
    required strong internet. To get to strong internet, Paul had to cross
    fields with cattle in them, and stare them down. Over the course of many
    trips he learned that cattle are docile, mostly... but don't turn your back
    on them because they can't be outrun!</p>
  </div>
</div>

<br>

### IPO date comes in handy... 5 years out

<div class="row">
  <div class="col-sm-8 col-xm-12">
    <figure class="video_container">
      <iframe src="https://www.youtube.com/embed/4BIsON95fl8?start=1825" frameborder="0" allowfullscreen="true"> </iframe>
    </figure>
  </div>
  <div class="col-sm-4 col-xm-12">
    <p class="justify">After spending a couple of days in meetings with customers in New York City, USA, Sid and Kirsten had a few hours before their flight and wanted to visit the WTC Observatory deck. It didn't work out but our IPO date did work out in their favor. In the keynote at our Cape Town Summit, Sid explains what happened.</p>
  </div>
</div>

<br>

<!-- particular styles for the pictures and video at the beginning -->

<style>
.justify,.justify-1 { text-align: justify; }
.media-heading { margin-bottom: 5px; }

@media (max-width: 767px) {
.col-sm-8 h4,.justify { padding-top: 10px; }
}
@media (max-width: 991px) {
.col-md-8 h4,.justify-1 { padding-top: 10px; }
}
</style>
